*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-bottom: 0;
    overflow-x: hidden;
    overflow-y:scroll;
    letter-spacing: 0.06rem;
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 0;
    width: 100%;
}
.padding {
    justify-content: center;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 12px;
    background-color: black;
    color: white;
    font-size: 14px;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-top: 0px;
    cursor: pointer;
}

.padding:hover {
    text-decoration: underline;
}

.logo{
    line-height:70px;
    position: relative; top: 3px; left: -140px;
}

nav ul {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-top: 18px;
    list-style: none;
    gap: 30px;
}

nav ul a {
    text-decoration: none;
    letter-spacing: 1.8px;
}

.link{
    position: relative; top: -5px; left: -50px;
    font-stretch:ultra-expanded;
    padding: 0.5rem 0.75rem;
    color: black;
    transition: color 0.25s;
}

.link:hover {
    color: white;
}

.link::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: black;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
}

.link:hover::after {
    scale: 1 1;
}

.wrapper{
    padding: 5px;
    box-shadow: 3px 6px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    height:auto;
    display: flex;
}

.Search {
    position: relative;  top: -45px; left: 88%;
    cursor: pointer;
}

.Person {
    position: relative; top: -45px; left: 90%;
    cursor: pointer;
}

.shopping-bag {
    position: relative; top: -45px; left: 92%;
    cursor: pointer;
}

.first-section {
    background: grey url(../images/seller-image.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    object-fit:fill;
    background-position-x: -60px;
    width: 1350px;
    height: 500px;
    margin-top: -25px;
    color: white;
}

.first-section h1 {
    font-size: 42px;
    color: white;
    margin-left: 95px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.01em;
    font-weight: 300;
    position: relative; top: 165px; 
}

.join-now {
    margin-left: 90px;
    padding: 14px 55px;
    background-color: white;
    color: black;
    text-decoration: none;
    letter-spacing: 0.10em;
    justify-content: center;
    position: relative; top: 155px;
    font-size: 15px;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}
.login {
    margin-left: 10px;
    padding: 14px 65px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    letter-spacing: 0.10em;
    position: relative; top: 155px;
    font-size: 15px;
    border: 1px solid white;
    cursor: pointer;
}

.join-now {
    position: relative; left: 10px;
}

.login {
    position: relative; left: 10px;
}

.png {
    text-align: center;
    position: relative; top: 80px;
    display: flex;
    justify-content: center;
    gap: 190px;
}

.png-text h1{
    position: relative; top: 120px;
    display: flex;
    justify-content: center;
    gap: 190px;
    flex-direction: column;
    letter-spacing: -0.0rem;
}

.png-text p {
    position: relative; top: 130px;
    display: flex;
    justify-content: center;
    gap: 190px;
    flex-direction: column;
    text-align: center;
}

.line-1 {
    height: 2px;
    margin: 0px 490px;
    background-color: rgb(0, 0, 0);
    position: relative; top: 20px;
    border-radius: 100px;
    bottom: 0;
}

.line-2 {
    height: 2px;
    margin: 0px 490px;
    background-color: rgb(0, 0, 0);
    position: relative; top: 20px;
    border-radius: 100px;
    bottom: 0;
}

.amount-h1 {
    font-family: 'Times New Roman', Times, serif;
    color: black; 
    font-size: 30px;
    display: flex;
    gap: 150px;
    margin-top: 90px;
    justify-content: center;
    list-style: none;
}

.amount-p {
    font-family: 'Times New Roman', Times, serif; 
    color: #5b5a5a; 
    font-weight: 400; 
    font-size: 18px;
    display: flex;
    gap: 110px;
    margin-top: 10px;
    justify-content: center;
    list-style: none;
}

.images-redeem {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 15px;
    margin-top: 60px;
}

.redeem-h1 {
    font-family: 'Times New Roman', Times, serif; 
    color: #000000; 
    font-weight: 400; 
    font-size: 18px;
    display: flex;
    gap: 115px;
    margin-top: 20px;
    justify-content: center;
    list-style: none;
}

.redeem-p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black; 
    font-size: 22px;
    display: flex;
    gap: 150px;
    margin-top: 5px;
    justify-content: center;
    list-style: none;
    font-weight:lighter;
}

button {
    position: relative; left: 530px;
    padding: 11px 45px;
    border: 1.5px solid rgb(194, 166, 8);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    color: #000000;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px 0px 0px 0px;
    cursor: pointer;
}
  
button:hover {
    background: rgb(194, 166, 8);
    box-shadow: 0 0 30px 5px rgb(194, 166, 8);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: white;
}
  
button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}
  
button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
  
@keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
}
  
50% {
      opacity: 1;
}
  
 to {
      opacity: 0;
      left: 100%;
}
  }
  
button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


/*FOOTER SECTION */

footer {
    font-family:'Times New Roman', Times, serif;
    background-color: hsl(262, 30%, 8%);
    color: #fbfcfd;
}

/*EMail user input bar*/

input {
    all: unset;
}
  
.input-wrapper {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    background: hsl(231, 14%, 10%);
    border: 2px solid #2b2c37;
    border-radius: 10px;
    box-shadow: hsla(0, 0%, 0%, 0.1) 0px 20px 25px -5px,
      #0000000a 0px 10px 10px -5px;
    transition: all 0.35s ease-out;
    position: relative; top: -25px; left: 68px;
    cursor: text;
}
  
.input {
    width: calc(100% - 70px);
    font: inherit;
    font-size: 18px;
    padding: 1rem;
}
.input::placeholder {
    color: #727884;
}
  
.input-wrapper:has(input:focus) {
    border: 2px solid #de55de;
    box-shadow: 0 0 120px hsl(300 67% 60% / 0.5);
}
  
.input-wrapper > svg {
    position: absolute;
    right: 1rem;
    width: 28px;
    flex-shrink: 0;
    transition: 0.25s;
}
  
svg > path {
    fill: none;
    stroke: #727884;
}
  
.input:focus + svg > path {
    stroke: none;
    fill: hsl(328, 73%, 72%);
}

.input:focus + svg {
    scale: 1.2;
}

footer {
    width: 1260px;
    height: 500px;
    position: relative; top: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.clock {
    position: relative; top: 188px; left: 70px;
}

.envelope {
    position: relative; top: 195px; left: 70px;
}

.copyright {
    background-color: white;
    width: 0px;
    height: 15px;
    position: relative; top: 120px; left: 60px;

}

.shop {
    position: relative; top: -425px; left: 680px;
}

.Socials {
    display: flex;
    list-style: none;
    gap: 1rem;
}
  
.item a {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
    background-color: #f0f9fe;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; left: 1000px; top: -410px;
    z-index: 1;
    border: 3px solid #f0f9fe;
    overflow: hidden;
}
  
.item a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 0;
    scale: 1 0;
    transform-origin: bottom;
    transition: scale 0.5s ease;
}
  
.item:hover a::before {
    scale: 1 1;
}
  
.icon {
    font-size: 1rem;
    color: hsl(203, 92%, 8%);
    transition: 0.5s ease;
    z-index: 2;
}
  
.item a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
  
.item:nth-child(1) {
    --bg-color: linear-gradient(to bottom right, #f9ce34, #ee2a7b, #6228d7);
}
.item:nth-child(2) {
    --bg-color: #0077b5;
}
.item:nth-child(3) {
    --bg-color: #ff0000;
}
.item:nth-child(4) {
    --bg-color: #000;
}

/* End of footer Section */

.animation {
	animation: transitionIn 0.75s;
}

@keyframes transitionIn {
	from {
		opacity: 0;
		transform: translateX(-10px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}